@import "tailwindcss";

@theme {
  --color-zinc-900: #18181B;
  --color-#819A91: #819A91;
  --color-neutral-300: #D4D4D8;
  --color-neutral-400: #A1A1AA;
  --color-neutral-500: #71717A;
  --color-stone-50: #FAFAF9;

  --font-display: 'Inter', sans-serif;
  --font-mono: 'Roboto Mono', monospace;
  --font-body: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #18181B;
}

body {
  background: #18181B;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
